body {
    font-family: Arial, sans-serif;
    background-color: #cce7ff;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #003366;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.sources {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.upload-area, .preview-area {
    width: 48%;
    padding: 10px;
    background-color: #4d4d4d;
    border: 2px dashed #aaa;
    position: relative;
    color: white;
}

.settings {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

.icon {
    height: 3em;
    margin-top: 5px;
}

.drop-down{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 300px;
    background-color:blueviolet;
    margin-top: -20px;
    margin-left: 10px;
    align-items: center;
    position: absolute;
    z-index: 100;
}
p{
    text-align: center;
    padding: 16px 0;
    border-bottom: 2px solid;
    width: 100%;
    margin: 0;
}
